.About-car {
    padding-bottom: 10vh;

    .about {
        display: flex;
        flex-direction: column;
        gap: 2vh;

        .title {
            font-size: 24px;
            font-weight: 700;
        }

        .more-info {
            font-size: 14px;

            span {
                font-weight: 700;
            }
        }
    }
}