footer {
    background-color: #000;
    color: #FFF;
    padding-top: 6vh;
    padding-bottom: 6vh;

    .div-footer {
        .social-midia {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4vh;

            .list {
                display: flex;
                gap: 1vw;
                align-items: center;

                ul {
                    display: flex;
                    gap: .5vw;
                }
            }
        }

        .company-info {
            display: flex;
            flex-direction: column;
            gap: .5vw;
            margin: 2vh 0;

            h4 {
                font-size: 16px;
                font-weight: 700;

                span {
                    font-weight: 400;
                }
            }
        }

        .privacy-policy {
            display: flex;
            justify-content: space-between;
            margin-top: 4vh;

            p {
                font-size: 12px;
                text-align: end;
            }
        }
    }
}

@media (min-width: 640px) and (max-width: 767px) {}

@media (max-width: 639px) {

    footer {
        .div-footer {
            .social-midia {
                flex-direction: column;
                align-items: center;
                margin-bottom: 0;
                gap: 2vh;

                .list {
                    gap: 2vh;
                    align-items: center;
                    flex-direction: column;

                    ul {
                        gap: 1vh;
                    }
                }
            }

            .company-info {
                gap: 1.5vh;
                margin: 2vh 0;
                align-items: center;
                text-align: center;
            }

            .privacy-policy {
                justify-content: space-between;
                margin-top: 4vh;
                flex-direction: column;
                align-items: center;
                gap: 1vh;

                p {
                    text-align: center;
                } 
            }
        }
    }
}