nav {
    background-color: #FFF;
    padding: 1.5vw 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .nav-style {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    .logos {
        display: flex;
        justify-content: space-between;
        gap: 2.5vh;

        .logo-dealer {
            height: 60%;
            margin-top: 1vh;
        }
    }

    .contact {
        display: flex;
        gap: 1.5vw;
        transition: all 0.3s ease-in-out;

        &.open {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 8.6vh;
            right: 10vh;
            background-color: #fff;
            padding: 2vw;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            z-index: 999;
        }
    }

    .menu-icon {
        display: none;
        cursor: pointer;
        margin-top: 1.2vh;

        .line {
            display: block;
            width: 25px;
            height: 3px;
            background-color: #000;
            margin: 5px auto;
            transition: all 0.3s ease-in-out;

            &.open:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            &.open:nth-child(2) {
                opacity: 0;
            }

            &.open:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }
    }

    @media (max-width: 768px) {
        .contact {
            display: none;
        }

        .menu-icon {
            display: block;
        }

        .logos {
            gap: 0.5vh;

            .logo-dealer {
                height: 50%;
                margin-top: 1.5vh;
            }

            .logo-car {
                width: 20%;
                height: auto;
            }
        }
    }

    @media (max-width: 639px) {

        .logos {
            gap: 0;
            justify-content: space-between;

            .logo-car {
                display: none;
            }
        }
    }

    @media (max-width: 374px) {

        .logos {
            justify-content: space-evenly;   
        }
    }
}