@tailwind base;
@tailwind components;
@tailwind utilities;
footer {
  background-color: #000;
  color: #FFF;
  padding-top: 6vh;
  padding-bottom: 6vh;
}
footer .div-footer .social-midia {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4vh;
}
footer .div-footer .social-midia .list {
  display: flex;
  gap: 1vw;
  align-items: center;
}
footer .div-footer .social-midia .list ul {
  display: flex;
  gap: 0.5vw;
}
footer .div-footer .company-info {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  margin: 2vh 0;
}
footer .div-footer .company-info h4 {
  font-size: 16px;
  font-weight: 700;
}
footer .div-footer .company-info h4 span {
  font-weight: 400;
}
footer .div-footer .privacy-policy {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
}
footer .div-footer .privacy-policy p {
  font-size: 12px;
  text-align: end;
}

nav {
  background-color: #FFF;
  padding: 1.5vw 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
nav .nav-style {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
nav .logos {
  display: flex;
  justify-content: space-between;
  gap: 2.5vh;
}
nav .logos .logo-dealer {
  height: 60%;
  margin-top: 1vh;
}
nav .contact {
  display: flex;
  gap: 2.5vh;
}

.Info-car {
  display: flex;
  flex-direction: column;
  gap: 10vh;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8vh;
}
.Info-car .car-info {
  font-size: 32px;
  font-weight: 700;
}
.Info-car .car-info .car-title {
  background-color: rgb(241, 241, 241);
  padding-bottom: 1vh;
  padding-top: 10vh;
}
.Info-car .car-info div {
  padding-top: 1.5vh;
}
.Info-car .car-info div h4 {
  font-size: 24px;
  font-weight: 400;
}
.Info-car .car-info div h3 {
  font-size: 32px;
  font-weight: 400;
}
.Info-car .car-info div h3 span {
  font-weight: 700;
}
.Info-car .main-info {
  display: flex;
  flex-direction: column;
  gap: 8vh;
}
.Info-car .main-info .main-table-info {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}
.Info-car .main-info .main-table-info .table-info-title {
  font-size: 24px;
}
.Info-car .main-info .main-table-info .table-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  margin-bottom: 3.5vh;
}
.Info-car .main-info .main-table-info .table-info .img-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Info-car .main-info .main-table-info .table-info .img-icon img {
  flex-shrink: 0;
  width: 24px;
  height: auto;
}
.Info-car .main-info .main-table-info .table-info .img-icon .table-info-titles {
  display: flex;
  flex-direction: column;
}
.Info-car .main-info .main-table-info .table-info .img-icon .table-info-titles p {
  margin: 0;
}
.Info-car .main-info .main-table-info .table-info .img-icon .table-info-titles span {
  color: #3754E2;
}
.Info-car .main-info .main-info-2 {
  display: flex;
  gap: 1vh;
}
.Info-car .main-info .main-info-2 .title {
  font-size: 32px;
  font-weight: 700;
  padding: 20px;
}
.Info-car .main-info .main-info-2 .text {
  font-size: 16px;
}
.Info-car .main-info .main-info-2 .title,
.Info-car .main-info .main-info-2 .text {
  flex: 1;
}

.About-car {
  padding-bottom: 10vh;
}
.About-car .about {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.About-car .about .title {
  font-size: 24px;
  font-weight: 700;
}
.About-car .about .more-info {
  font-size: 14px;
}
.About-car .about .more-info span {
  font-weight: 700;
}

.About-car {
  padding-bottom: 10vh;
}
.About-car .about {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.About-car .about .title {
  font-size: 24px;
  font-weight: 700;
}
.About-car .about .more-info {
  font-size: 14px;
}
.About-car .about .more-info span {
  font-weight: 700;
}

.Header {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  padding-bottom: 2vh;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10vh;
}
.Header .simple-border-divider {
  margin: 4vh 0;
}
.Header .header-row {
  display: grid;
  justify-content: center;
  grid-template-columns: 35vw 35vw;
  grid-gap: 10px;
}
.Header .header-row .title-text {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.Header .header-row .title-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.Header .header-row .title-text h1 .text-primary {
  color: #007bff;
}
.Header .header-main .title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  margin-bottom: 4vw;
}
.Header .header-main .title-text h2 {
  font-size: 26px;
}
.Header .header-main .title-text p {
  font-size: 16px;
  width: 50vw;
  text-align: center;
}
.Header .header-main .cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 0 auto;
}
.Header .header-main .cards-container .card {
  text-align: center;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  justify-content: center;
}
.Header .header-main .cards-container .card .card-icon svg {
  transition: fill 0.3s ease-in-out;
}
.Header .header-main .cards-container .card .card-icon img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.Header .header-main .cards-container .card .card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}
.Header .header-main .cards-container .card .card-details {
  font-size: 0.9em;
  color: #555;
}
.Header .header-main .cards-container .card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  color: #3754E2;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.Header .header-main .cards-container .card:nth-child(1) {
  animation-delay: 0s;
}
.Header .header-main .cards-container .card:nth-child(2) {
  animation-delay: 0.2s;
}
.Header .header-main .cards-container .card:nth-child(3) {
  animation-delay: 0.4s;
}
.Header .header-main .cards-container .card:nth-child(4) {
  animation-delay: 0.6s;
}
.Header .header-main .cards-container .card:nth-child(5) {
  animation-delay: 0.8s;
}
.Header .header-main .cards-container .card:nth-child(6) {
  animation-delay: 1s;
}
.Header .header-main .cards-container .card:nth-child(7) {
  animation-delay: 1.2s;
}
.Header .header-main .cards-container .card:nth-child(8) {
  animation-delay: 1.4s;
}
.Header .header-main .cards-container .card:nth-child(9) {
  animation-delay: 1.6s;
}
.Header .header-main .cards-container .card:nth-child(10) {
  animation-delay: 1.8s;
}

.header-carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.header-carousel .carousel-container {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header-carousel .carousel-container .carousel-image {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.header-carousel .carousel-container .carousel-image.active {
  opacity: 1;
}
.header-carousel .carousel-button.prev {
  left: 10px;
}
.header-carousel .carousel-button.next {
  right: 10px;
}
.header-carousel .carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .Header .header-row {
    justify-content: center;
    grid-template-columns: 75vw;
    grid-gap: 10px;
  }
  .Header .header-row .title-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .Header .header-main .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  .Header .header-row {
    display: grid;
    justify-content: center;
    grid-template-columns: 75vw;
    grid-gap: 10px;
  }
  .Header .header-row .title-text {
    text-align: center;
    align-items: center;
  }
  .Header .header-row .title-text h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .Header .header-main .title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-bottom: 4vw;
  }
  .Header .header-main .title-text h2 {
    font-size: 26px;
  }
  .Header .header-main .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .Header .header-main .cards-container .card {
    padding: 16px;
  }
}
@media (max-width: 639px) {
  .Header .header-row {
    grid-template-columns: 75vw;
  }
  .Header .header-row .title-text {
    text-align: center;
    align-items: center;
  }
  .Header .header-row .title-text h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  .Header .header-main .title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    margin-bottom: 4vw;
  }
  .Header .header-main .title-text h2 {
    font-size: 26px;
  }
  .Header .header-main .title-text p {
    font-size: 16px;
    width: 75vw;
  }
  .Header .header-main .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .Header .header-main .cards-container .card {
    padding: 12px;
  }
  .Header .header-main .cards-container .card .card-title {
    font-size: 1rem;
  }
}
body {
  margin: 0;
  padding-top: calc(1.5vw + 42px);
  background-color: #fff;
}

.center-div {
  width: 100%;
}

.padding-center {
  padding-right: 12vh;
  padding-left: 12vh;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.youtube-video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.border-divider {
  border: 3px solid #333333;
}

.simple-border-divider {
  border: 1px solid #E1E1E1;
  margin: 12px 0;
}

.line-container {
  position: relative;
  padding-left: 10px;
}

.line-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: black;
}

.button-style {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  background-color: #3754E2;
}

.button-style img {
  width: 16px;
  height: auto;
}

.fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-out {
  animation: fadeOut 1.5s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
.slide-in-right {
  animation: slideInRight 1.5s ease-in-out;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.slide-in-left {
  animation: slideInLeft 1.5s ease-in-out;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (min-width: 1536px) {
  .center-div {
    max-width: 1536px;
  }
}
@media (min-width: 1280px) and (max-width: 1535px) {
  .center-div {
    max-width: 1280px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .center-div {
    max-width: 1024px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .center-div {
    max-width: 768px;
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  .center-div {
    max-width: 640px;
  }
  .padding-center {
    padding-right: 8vh;
    padding-left: 8vh;
  }
}
@media (max-width: 639px) {
  .center-div {
    max-width: 640px;
  }
  .padding-center {
    padding-right: 8vh;
    padding-left: 8vh;
  }
}

/*# sourceMappingURL=main.css.map */
